<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- Brand -->
	<a id="nav_logo" class="navbar-brand" href=".././">TQ</a>
	<!-- Links -->
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" id="nav_userList"
			href=".././adminuser">User List</a></li>
		<li class="nav-item"><a class="nav-link active" id="nav_newUser"
			href=".././adminuser/new">New User</a></li>
	</ul>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<a id="btn_Language" data-language="vi" class="btn btn-primary mr-2">
			<img alt="" src="../resources/image/viIcons.png" id="img_laguage">
			<span>VI</span>
		</a> <a id="btn_LogOut" class="btn btn-danger">Log Out</a>
	</div>
</nav>