<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineclass.sysadmin.dao.AdminUserDAOImpl">
	
	<resultMap type="adminUser" id="result">
		<id property="ID" column="ID" />
		<result property="name" column="Name" />
		<result property="email" column="Email" />
		<result property="password" column="Password" />
		<result property="agentID" column="AgentID" />
		<result property="statusCD" column="StatusCD" />
		<result property="notes" column="Notes" />
		<result property="createdAt" column="CreatedAt" />
		<result property="updatedAt" column="UpdatedAt" />
		<result property="deletedAt" column="DeletedAt" />
	</resultMap>
	
	<resultMap type="adminUserCommonCode" id="result_adminUserCommonCode">
		<id property="ID" column="ID" />
		<result property="name" column="Name" />
		<result property="email" column="Email" />
		<result property="password" column="Password" />
		<result property="agentID" column="AgentID" />
		<result property="agentID" column="AgentID" />
		<result property="statusCD" column="StatusCD" />
		<result property="statusColor" column="StatusColor" />
		<result property="status" column="Status" />
		<result property="notes" column="Notes" />
		<result property="createdAt" column="CreatedAt" />
		<result property="updatedAt" column="UpdatedAt" />
		<result property="deletedAt" column="DeletedAt" />
	</resultMap>
	
	<select id="getAllUsers" resultType="adminUser" resultMap="result">
		SELECT * FROM adminuser
	</select>
	
	<select id="getAllUsersInRange" resultType="adminUserCommonCode" resultMap="result_adminUserCommonCode">
		SELECT adminuser.ID, adminuser.Name, adminuser.Email, adminuser.StatusCD, commoncode.Name as Status,commoncode.CssClass as StatusColor ,adminuser.Notes,adminuser.CreatedAt,adminuser.UpdatedAt
		FROM (
			SELECT *
			FROM adminuser
			WHERE DeletedAt IS NULL
			ORDER BY ID DESC
			LIMIT #{limit}
			OFFSET #{skip}
		) adminuser
		INNER JOIN commoncode
		ON adminuser.StatusCD = commoncode.value
		ORDER BY ${column} ${sort};
	</select>
	
	<select id="getAllUsersWithComminCode" resultType="adminUserCommonCode" resultMap="result_adminUserCommonCode">
		SELECT adminuser.ID, adminuser.Name, adminuser.Email, adminuser.StatusCD, commoncode.Name as Status ,adminuser.Notes,adminuser.CreatedAt,adminuser.UpdatedAt
		FROM adminuser
		INNER JOIN commoncode
		ON adminuser.StatusCD = commoncode.value
		ORDER BY adminuser.CreatedAt DESC;
	</select>
	
	<select id="findUserByEmail" parameterType="java.lang.String" resultType="adminUser" resultMap="result">
		SELECT * FROM adminuser WHERE Email = #{email}
	</select>
	
	<select id="findUserByID" parameterType="int" resultType="adminUser" resultMap="result">
		SELECT * FROM adminuser WHERE ID = #{ID}
	</select>  
	
	<insert id="insertUser" parameterType="adminUser" keyProperty="ID" useGeneratedKeys="true">
		INSERT INTO adminuser(Name, Email, Password, AgentID, StatusCD, Notes)
		VALUES(#{name}, #{email}, #{password}, #{agentID}, #{statusCD}, #{notes})
	</insert>
	
	 <update id="deleteUser" parameterType="adminUser">
		UPDATE adminuser SET DeletedAt = #{deletedAt}
		WHERE ID = #{ID} 
	</update>
	
	<update id="updateUser" parameterType="adminUser">
		UPDATE adminuser SET Name = #{name},Password = #{password}, AgentID = #{agentID}, StatusCD = #{statusCD}, Notes = #{notes} ,DeletedAt = #{deletedAt}
		WHERE ID = #{ID} 
	</update>    
	
	<select id="getTotalUser" resultType="int">
        SELECT COUNT(*) FROM adminuser WHERE DeletedAt IS NULL
    </select>
	
	<!-- <delete id="deleteUser" parameterType="int">
		DELETE FROM employee WHERE id = #{ID}
	</delete> -->

</mapper>